<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Package Infomation
        </h1>
        <h2 class="lead mt-4">
            <i class="fas fa-user-plus"></i> Tracking Number: <%= tracking_number %>
        </h2>
        
        <p class="lead mt-4">Search another package? <a href="/">Home</a></p>
      </div>
    </div>
  </div>