<div class="container-login100">
  <div class="wrap-login100">
    <form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						find Password
					</span>


      <label> Email</label>
      <div class=" validate-input100" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input100" [(ngModel)]="registerUserData.email" type="text" name="email" >
        <span class="focus-input100"></span>
        <span class="label-input100">email</span>
      </div>


      <div class="text-center p-t-46 p-b-20">
        <button (click)="submitEmail()" type="button" class="login100-form-btn">
          find Password
        </button>
      </div>
    </form>
    <div class="login100-more" style="background-image: url('assets/images/background01.jpg');">
    </div>
  </div>
</div>
